<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >
	<table style="margin: auto; border: 2px solid black; border-collapse: collapse;">
	    <tr>
	        <td colspan="2" style="border: 1px solid black;">hàng thứ nhất</td>
	    </tr>
	    <tr>
	        <td style="border: 1px solid black;">hàng thứ 2 cột 1</td>
	        <td style="border: 1px solid black;">hàng thứ 2 cột 2</td>
	    </tr>
	    <tr>
	        <td colspan="2" style="border: 1px solid black;">hàng thứ 3</td>
	    </tr>
	</table>
</body>
</html>